.cardContainer {
  position: absolute;
  top: 0;
  left: 0;
  /*width: fit-content;*/
  transform: translate(0%, -100%);
  z-index: 5;
  /*pointer-events: none;*/
}

.card {
  /* font-size: 0.4rem; */
  display: flex;
  /*border-radius: 50%;*/
  border-radius: 12px;
  padding: 0.6rem;
  /* border: solid black; */
  background: rgba(255, 255, 255, 0.65);
  align-items: center;
  justify-content: center;
  object-position: left top;
  backdrop-filter: blur(3px);

}

.expandedCard {
  font-weight: lighter;
  line-height: 1.2rem;
  width: 18rem;
  max-width: 45vw;
  border-radius: 10px;
}

@media only screen and (max-width: 480px) {
  /*.expandedCard {*/
  /*  width: 10rem;*/
  /*  max-width: 100rem;*/
  /*  !*overflow-y: scroll;*!*/
  /*  max-height: 20rem;*/
  /*}*/

  /*.card {*/
  /*  font-size: .6rem;*/
  /*}*/

  .cardContainer {
    display: none;
  }

}
