.container {
    --line-height: 24px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    /* scroll-snap-type: y mandatory; */
}

/* 
.container>* {
    flex-basis: 100vh;
    scroll-snap-align: center;
} */

.paragraphContainer {
    height: 100%;
    /* scroll-snap-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;


}

.container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.paragraph {
    font-family: Overpass;
    align-self: normal;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
}

.paragraph p {
    font-size: 0.625rem;
    line-height: var(--line-height);
}

.paragraph h2 {
    font-size: 1rem;
}

@media (max-width:1000px) {
    .container {
        --line-height: 20px
    }

    .paragraph {
        justify-content: flex-start;
    }
}