.container {
    height: 100%;
    overflow-y: scroll;
    position: relative;
    font-family: var(--primary-font-fam);
    /* scroll-snap-type: y mandatory; */
    scroll-behavior: smooth;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    /* gap: 500px; */
}

/* 
.container>* {
    flex-basis: 100vh;
    scroll-snap-align: center;
} */

.paragraph h2 {
    pointer-events: all !important;
}

.paragraphContainer {
    height: 100%;
    /* scroll-snap-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 500px;
    transition: opacity 1s;
}

.paragraphContainer[data-id="globeView_fit"] {
    margin-bottom: 450px;

}

.container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.paragraph {
    align-self: normal;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-bottom: 2rem;
}


.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
}

.hidden {
    opacity: 0;
    transition: opacity 2s;
}

.show {
    opacity: 1 !important;

}


.scrollButton {
    outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    left: 45%;
    right: 45%;
    bottom: -2rem;
    display: block;
}

@media(max-width:900px) {
    .content {
        max-width: unset;
    }
}


@media (max-width:600px) {
    .paragraphContainer {
        height: unset;
    }

}

@media (max-width:500px) {
    .paragraph p {
        font-size: 0.875rem;
        line-height: 22.5px;
    }



    .paragraph h2 {
        font-size: 0.875rem;
        line-height: 22.5px;
    }


}