.toggleButton {
    display: flex;
    align-items: center;
    margin-top: .4rem;
    margin-left: 1rem;
    background: none;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--primary-font-fam);

}


.toggleButton:hover {
    cursor: pointer;
    opacity: 0.6;

}

@media only screen and (max-width: 480px) {

    .toggleButton {
        justify-content: center;
        padding: .5rem;

    }
}