.tab {
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 20;
    top: 75%;
    border-radius: 1rem 1rem 0 0;
    font-family: var(--primary-font-fam);
}

@media only screen and (max-width: 480px) {
    .tab {
        top: 95%;
        justify-items: center;
        bottom: 300px;
    }
}
