.main {
  position: fixed;
  width: 100%;
  max-width: 28rem;
  top: 10vh;
  left: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 5;
  padding-top: 1rem;
  /* color: var(--brown);
  font-size: var(--fs-body-1);
  font-family: var(--primary-font-fam); */
}

@media only screen and (max-width: 480px) {
  .main {
    max-width: 100vw;
    top: 13%;
    left: 1rem;
  }

  .main small {
    width: 15rem;
    height: auto;
    /* line-height: 1rem;
    font-size: .7rem; */
  }

}
