.main {
  position: absolute;
  width: 100%;
  max-width: 22rem;
  top: 13%;
  left: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 5;
  color: var(--brown);
}

@media only screen and (max-width: 480px) {
  .main {
    max-width: 100vw;
    top: 13%;
    left: 1rem;
  }

  .main small {
    width: 15rem;
    height: auto;
    line-height: 1rem;
    font-size: .7rem;
  }

}
