@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=El+Messiri:wght@400;500;600;700&display=swap');

:root {
  --brown: #463c35;
  --blue: #AEB3C4;
  --green: #c2c93e;
  --purple: #550e7c;
  --orange: #d66937;
  --gray: #c6c6c6;

  --max-width: 1100px;
  --border-radius: 12px;
  font-family: 'Assistant', sans-serif;
  font-family: 'El Messiri', sans-serif;
  --primary-font-fam: 'El Messiri', sans-serif;
  --fs-large: 2.75rem;
  --fs-body-1: clamp(1rem, 20px, 1.5rem);
  --fs-h3: 0.75rem;

}

.header-1 {
  font-family: var(--primary-font-fam);
  font-size: clamp(1.5rem, 2.5vw, 3.67rem);
  line-height: clamp(1rem, 2.5vw, 4.33rem);
  font-weight: bold;
}


.header-3 {
  font-family: var(--primary-font-fam);
  font-size: clamp(0.75rem, 2.5vw, 1.5rem);
  line-height: clamp(1.5rem, 2.5vw, 2.33rem);
  font-weight: bold;
}

.body-1 {
  font-family: var(--primary-font-fam);
  font-size: 24pt;
  line-height: 32pt;
  font-weight: medium;
}

.body-2 {
  font-family: var(--primary-font-fam);
  font-size: 20pt;
  line-height: 28pt;
  font-weight: medium;
}

.body-3 {
  font-family: var(--primary-font-fam);
  font-size: clamp(0.89rem, 1.3vw, 1.08rem);
  line-height: 20pt;
  font-weight: initial;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* max-width: 100vw; */
  font-size: var(--fs-norm);
  color: var(--brown);
  scroll-snap-type: x mandatory;
  font-family: var(--primary-font-fam);
}

body {
  font-size: var(--fs-body-1);
  color: var(--brown);
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
}

@media only screen and (max-width: 480px) {
  html {
    /* max-width: 100vw; */
    font-size: 15pt;
  }

  body {
    font-size: 15pt;
  }
}

h1 {
  font-weight: bold;
  font-size: var(--fs-large);
  line-height: 52pt;
}

h2 {
  font-weight: bold;
  font-size: 1.4rem;
}

h3 {
  font-weight: bold;
  font-size: 1.2rem;
}

h4 {
  font-weight: bold italic;
  font-size: 1rem;
}

h5 {
  font-weight: bold;
  font-size: 1rem;
}

p {
  font-weight: medium;
  line-height: 24pt;
  font-size: 1rem;
}

small {
  font-weight: medium;
  /* line-height: 16pt;
  font-size: var(--fs-body-1); */
}

h6 {
  font-weight: bold;
  font-size: 0.8rem;
}

h7 {
  font-weight: normal;
  font-size: 0.8rem;
}

body {
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  color: black;
}

li {
  font-size: 1rem;
  padding: 0.25rem;
}

li:hover {
  /*color: var(--gray);*/
}

/* Icons */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 64;
  font-size: 1.4rem;
}

.material-symbols-outlined:hover {
  opacity: 0.75;
}

Link {}

svg {
  pointer-events: none;
}

g {
  pointer-events: auto;
}


.mapboxgl-popup-content {
  background: rgba(255, 255, 255, 0.75) !important;
  border-radius: 1rem !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: rgba(255, 255, 255, 0.75) !important;
}
