@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=El+Messiri:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --brown: #463c35;
  --blue: #AEB3C4;
  --green: #c2c93e;
  --purple: #550e7c;
  --orange: #d66937;
  --gray: #c6c6c6;

  --max-width: 1100px;
  --border-radius: 12px;
  font-family: 'Inter', sans-serif;
  font-family: 'El Messiri', sans-serif;
  --primary-font-fam: 'El Messiri', sans-serif;
  --sans-font-fam: 'Inter', sans-serif;
  --fs-large: 2.75rem;
  --fs-body-1: clamp(1rem, 20px, 1.5rem);
  --fs-h3: 0.75rem;

}

.header-1 {
  font-family: var(--primary-font-fam);
  font-size: clamp(1.5rem, 2.5vw, 3.67rem);
  line-height: clamp(1rem, 2.5vw, 4.33rem);
  font-weight: bold;
}

/* font style for header of data transect */
.header-2 {
  font-family: var(--sans-font-fam);
  font-size: clamp(0.8rem, 2.5vw, 1.1rem);
  font-weight: 520;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

/* font style for header of main narrative text */
.header-3 {
  font-family: var(--primary-font-fam);
  font-size: clamp(1.15rem, 1.25vw, 1.5rem);
  /* line-height: clamp(1.5rem, 2.5vw, 2.33rem); */
  font-weight: bold;
  color: var(--brown);
}

.body-1 {
  font-family: var(--primary-font-fam);
  font-size: 24pt;
  line-height: 32pt;
  font-weight: medium;
}

.body-2 {
  font-family: var(--primary-font-fam);
  font-size: 20pt;
  line-height: 28pt;
  font-weight: medium;
}

/* font style for main narrative text */
.body-3 {
  font-family: var(--primary-font-fam);
  font-size: clamp(1.15rem, 1.25vw, 1.5rem);
  /* line-height: 1.4rem; */
  font-weight: medium;
  color: var(--brown);
}

/* font styles for transect tooltip */
.body-4 {
  font-family: var(--primary-font-fam);
  font-size: clamp(0.6rem, 1.3vw, 0.8rem);
  line-height: 1.2rem;
  font-weight: initial;
}
/* font styles for about page text */
.body-5 {
  font-family: var(--primary-font-fam);
  font-size: clamp(0.8rem, 1.3vw, 1rem);
  line-height: 1.5rem;
}

button {
  font-family: var(--primary-font-fam);
}

.font-sans {
  font-family: var(--sans-font-fam);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* max-width: 100vw; */
  font-size: var(--fs-norm);
  color: var(--brown);
  scroll-snap-type: x mandatory;
  font-family: var(--primary-font-fam);
}

body {
  font-size: var(--fs-body-1);
  color: var(--brown);
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  background-image: url('../public/images/lines_blue.svg');
  background-size: 2.5%;
  background-repeat: repeat;
}

main {
  background-color: #AFB3C4;
}

@media only screen and (max-width: 480px) {
  html {
    /* max-width: 100vw; */
    font-size: 15pt;
  }

  body {
    font-size: 15pt;
  }
}

h1 {
  font-weight: bold;
  font-size: var(--fs-large);
  line-height: 52pt;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

h3 {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--brown);
}

h4 {
  font-weight: bold italic;
  font-size: 1rem;
}

h5 {
  font-weight: bold;
  font-size: 1rem;
}

p {
  font-weight: medium;
  line-height: 2rem;
  font-size: 1.5rem;
}

small {
  font-weight: medium;
  /* line-height: 16pt;
  font-size: var(--fs-body-1); */
}

h6 {
  font-weight: bold;
  font-size: 0.8rem;
}

h7 {
  font-weight: normal;
  font-size: 0.8rem;
}

body {
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  color: var(--brown);
}

li {
  font-size: 1rem;
  padding: 0.25rem;
}

li:hover {
  /*color: var(--gray);*/
}

/* Icons */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 64;
  font-size: 2rem;
}

.material-symbols-outlined:hover {
  opacity: 0.75;
}

Link {}

svg {
  pointer-events: none;
}

g {
  pointer-events: auto;
}


.mapboxgl-popup-content {
  background: rgba(255, 255, 255, 0.9) !important;
  border-radius: 1rem !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  color: #463c35;
  padding: 1.1rem !important;
}

/* .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: rgba(255, 255, 255, 0.75) !important;
} */

.county-info.mapboxgl-popup.mapboxgl-popup-anchor-center {
  max-width: 18.5rem !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: none !important;
}

/* transect svg */
/* #viz-transect-layers {
    margin-top: 1.5rem;
} */
#viz-transect-layers .x-axis text {
  font-family: var(--sans-font-fam);
}

#viz-transect-layers .label-risk text,
#viz-transect-layers #label-migrants {
  font-family: var(--sans-font-fam);
  font-weight: 500;
  font-size: 0.85rem;
}

#viz-transect-layers .label-pct {
  font-family: var(--sans-font-fam);
  font-weight: 500;
  font-size: 0.7rem;
  margin-top: 0.2rem;
}


#viz-transect-layers .label-journey {
  font-size: 1rem;
}

#viz-transect-layers .text-expand {
  position: relative;
  font-family: var(--sans-font-fam);
  font-size: 0.6rem;
}

#viz-transect-layers .text-expand::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-right: 1rem solid black;
  position: relative;
}

#viz-transect-layer .label-risk,
#viz-transect-layer #label-migrants,
#viz-transect-layers .label-pct {
  font-weight: 500;
}

#viz-transect-layers .label-weight {
  font-family: var(--sans-font-fam);
  /* font-weight: 500; */
  font-size: 0.7rem;
  margin-bottom: 0;
}

/* transect tooltip */
.hidden {
  display: none;
}

.transectTooltip {
  position: fixed;
  z-index: 100;
  /* top: 0; */
  /* left: 0; */
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'Inter', sans-serif;
  color: #463C35;
  width: 15.5rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
}

.transectTooltip h4 {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
}

.transectTooltip p.risk::before {
  content: '';
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  /* background: #000; */
  margin-right: 0.5rem;
}

.transectTooltip p.risk-4mi::before {
  background: #5D3435;
}

.transectTooltip p.risk-food::before {
  background: #985946;
}

.transectTooltip p.risk-acled::before {
  background: #9A735A;
}

.transectTooltip p.risk-smuggler::before {
  background: #F48532;
}

.transectTooltip p.risk-remoteness::before {
  background: #624B44;
}

.transectTooltip p.risk-heat::before {
  background: #3F231B;
}

.transectTooltip p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin: 0;
}

.transectTooltip .labelData {
  float: right;
}

.transectTooltip .route-traffic {
  margin-top: 0.75rem;
}

.transectTooltip #data-migrants {
  font-weight: 700;
}