.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    bottom: 30%;
    gap: 1rem;
    padding: 2rem;
    font-family: var(--primary-font-fam);
}

.image {
    width: 15rem;
    height: 10rem;
    position: relative;
    display: flex;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    /* opacity: 0; */
    /* overflow-x: hidden; */
    /* aspect-ratio: 1/5; */
}

.image::before {
    background-color: var(--color);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
    position: absolute;
    opacity: var(--opacity);
    top: 0;
    left: 0;
    /* transition: opacity 500ms ease-in-out; */
}

.image::after {
    background-color: rgb(25, 37, 80);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 500ms ease-in-out;
}

.image:hover .image::after,
.image:hover .image::before {
    --color: none
}

.image img {
    object-fit: cover;
    height: 100%;
    opacity: 0;
    width: 100%;
}

.backdrop {
    position: fixed;
    inset: 0;
    background: #000000e1;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
}


.example-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.example-container img {
    /* margin-bottom: 4rem; */
    width: 70%;
    /* height: 60%; */
    object-fit: contain;
}

.imgFilter {
    position: absolute;
    object-fit: cover;
    width: 100%;
    z-index: 5;
    opacity: 0.5;
    height: 100%;
}


.exit {
    background: none;
    border: none;
    position: absolute;
    top: 2rem;
    right: 1rem;
    z-index: 1000;
    cursor: pointer;

}

.exit span {
    color: white;

}

.caption {
    color: white;
    /* width: 60%; */
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.caption span {
    position: relative;
    top: 0;
    left: 0;
    font-size: 0.75rem;
    font-family: var(--sans-font-fam);
    font-weight: 300;
}




.caption p {
    font-size: 1rem;
    /* position: absolute; */
}

.imgContainer {
    display: flex;
    width: 100%;
    /* height: 100%; */
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    padding: 4rem;
    gap: 2rem;
}

.next,
.prev {
    top: calc(50% - 2vw);
    position: absolute;
    background: none;
    color: white;
    /* border-radius: 30px; */
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    /* font-weight: bold;
    font-size: 2rem; */
    z-index: 15;
}

.next {
    right: 1rem;
}

.prev {
    left: 1rem;
}

.backdrop img {
    position: relative;
    max-width: 100vw;
    backdrop-filter: blur(10px);
}

.refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
