.imageContainer {
  overflow-x: scroll;
  object-fit: cover;
  position: relative;
  scroll-behavior: smooth;
}

.image {
  overflow-x: scroll;
  position: relative;
}

.navigationButton {
}

.cardContainer {
  position: absolute;
  top:0;
  left: 0;
  /*width: fit-content;*/
  transform: translate(-50%, -50%);

}

