#icon {
    pointer-events: all !important;
    font-size: 0.8rem;
    color: #985946;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0
}


/* TO-DO: left align text in tooltip not overriding bootstrap defaults */
.tooltip>div.tooltip-inner {
    text-align: left !important;
}

.wrapper {
    /* display: block; */
    padding: 1rem;
    pointer-events: all !important;
}