.mapContainer p {
    font-size: .625rem;
}

.container {
    height: 100vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}

.sidebar {
    position: fixed;
    height: 65%;
    z-index: -1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.map {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70vw;
    height: 50%;
    z-index: 10;
}

.textContainer {
    z-index: 5;
}

.textContainer p {
    font-size: 0.6rem;
}

@media (max-width:1000px) {
    .map {
        position: relative;
        width: 100vw
    }

    .mapContainer {
        background-color: #bfd5df;
        height: clamp(30%, 35vh, 40%);
        width: 100%;
        bottom: 0;
    }

    .textContainer {
        height: 40vh;
        overflow-y: auto;
        position: relative;
        overflow-x: hidden;
    }
}

@media (max-width:600px) {
    .map {
        position: absolute;
    }

    .mapContainer {
        position: absolute;
        height: clamp(30%, 35vh, 40%);
        width: 100%;
        bottom: 0;
    }

    .container {
        width: 100%;

    }
}

/* .mapContainer path:hover {
    stroke: black;
    stroke-width: 2px;

} */