.mapContainer {
    --menu-font: 20px;
    inset: 0;
    display: flex;
    position: absolute;
    /* background-color: var(--blue); */
    width: 100vw;
    justify-content: flex-end;
    align-items: center;
}


.gridContainer {
    display: grid;
    grid-gap: 1rem;
    inset: 0;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
}

.mapHolder {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width:600px) {

    .mapHolder {
        width: 100vw;
        align-items: flex-end;
        height: 100vh;
    }

    .gridContainer {
        grid-template-columns: repeat(3, 1fr);

    }
}

.boxContainer {
    height: 100vh;
    /* width: 30vw; */
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-column-start: span 4; */
    grid-area: 1/1/1/5;
}

.contentBox {
    position: fixed;
    height: 65%;
    /* z-index: -1; */
}

@media (max-width: 800px) {
    .contentBox {
        height: 45%;
    }

}

/* Hide scrollbar for Chrome, Safari and Opera */
.contentBox::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.contentBox {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.map {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70vw;
    height: 50%;
    z-index: 10;
}

.textContainer {
    z-index: 5;
}

.textContainer p {
    font-size: 0.6rem;
}

@media (max-width:600px) {


    .mapContainer {
        height: clamp(30%, 35vh, 40%);
        width: 100%;
        bottom: 0;
        align-items: flex-end;
        position: absolute;
    }

    .textContainer {
        height: 40vh;
        overflow-y: auto;
        position: relative;
        overflow-x: hidden;
    }
}

@media (max-width:600px) {

    .mapContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        align-items: flex-end;
    }

    .boxContainer {
        width: 100%;
        align-items: unset;
    }

    .contentBox {
        height: 40%;
        position: relative;
        margin-top: 5rem;
    }
}