.mapContainer {
    --menu-font: 20px;
    inset: 0;
    display: flex;
    position: absolute;
    /* background-color: var(--blue); */
    width: 100vw;
    justify-content: flex-end;
    align-items: center;
}


.gridContainer {
    display: grid;
    grid-gap: 1rem;
    inset: 0;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-image: url('../public/images/lines_blue.svg');
    background-repeat: repeat;

    position: relative;
    /* background-color: #B0B3C3; */
    /* background-blend-mode: darken; */
}

.gridContainer[data-color=dark] {
    background-color: hsl(231, 14%, 53%);
    background-size: 2.5%;

}

.gridContainer[data-color=light] {
    background-color: #AEB3C4;
    background-size: 5%;

}

.exploreBox {
    position: absolute;
    top: 10%;
    /* left: 0; */
    padding: 1rem;
    font-family: var(--primary-font-fam);
    color: var(--brown);
}

.exploreBox>a {
    color: var(--brown);
    text-decoration: none;
    font-weight: 600;
    font-size: clamp(1rem, 1.25vw, 1.5rem);
}


.mapHolder {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.boxContainer {
    /* height: 100vh; */
    width: 100vw;
    z-index: 2;
    display: grid;
    align-items: center;
    /* grid-column-start: span 4; */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-area: 1/1/13/13;
    /* background-color: rgba(0, 255, 0, 0.5); */
}

.contentBox {
    /* background-color: rgba(255, 0 ,0, 0.5); */
    /* grid-area: 3/1/10/4; */
    position: fixed;
    height: 80vh;
    /* bottom: 0; */
    /* z-index: -1; */
    width: 100%;
}

/* @media (max-width: 800px) {
    .contentBox {
        height: 45%;
    }

} */

/* Hide scrollbar for Chrome, Safari and Opera */
.contentBox::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.contentBox {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.map {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70vw;
    height: 50%;
    z-index: 10;
}

.textContainer {
    z-index: 5;
}

.textContainer p {
    font-size: 0.6rem;
}


@supports (-webkit-hyphens:none) {
    .contentBox {
        margin-top: 5rem;
    }

    @media (max-width:480px) {
        .contentBox {
            margin-top: 0rem;
        }
    }
}

@media (max-width:900px) {
    .gridContainer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, 1fr);

    }

    .textContainer {
        height: 40vh;
        overflow-y: auto;
        position: relative;
        overflow-x: hidden;
    }

    .mapContainer {
        grid-area: 5/1/13/7;
    }

    .boxContainer {
        display: flex;
        width: 100%;
        align-items: unset;
        grid-area: 2/1/10/13;
    }

    .contentBox {
        height: 100%;
        position: relative;
    }

    /* .exploreBox {
        top: 15%;
    } */

}

@media (max-width:900px) {

    .mapContainer {
        pointer-events: none;
        z-index: 5;
    }
}