.nav-bar {
}

.menuContainer {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 20;
  background-color: transparent;
  padding: 1rem;
  font: 4em;
}

.menuButton {
  background: none;
  border: none;
  font: inherit;
}

.menuSelection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  background-color: var(--brown);
}
