.navBar {
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.2rem;
  font-size: 2rem;
  margin: 0;
  z-index: 9;
}

@media only screen and (max-width: 480px) {
  .navBar {
    width: 100%;
  }
}

.menuContainer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: transparent;
  padding: 1rem;
  /*font-size: 4em;*/
}

.menuButton {
  background: none;
  border: none;
  font: inherit;
  position: sticky;
}

.menuButton:hover {
  cursor: pointer;
}


.screenCover {
  backdrop-filter: brightness(10%);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9;
  pointer-events: none;
}


.route {
  text-decoration: none;
  color: var(--brown);
  font-family: Assistant;
}

.route:hover {
  text-decoration: underline;
  color: var(--brown)
}
