.routeContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}


.route {
    display: flex;
    font-family: var(--primary-font-fam);
    font-size: var(--menu-font);
    /* justify-content: space-around; */
    align-items: center;
}