.container {
    display: flex;
    flex-direction: column;
    margin: 1vh auto auto auto;
    cursor: pointer;
    pointer-events: all !important;
}

.container>* {
    text-align: center;
}

.scrollIndicator {
  font-family: var(--sans-font-fam);
  font-size: 0.6rem;
  color: var(--brown);
  transform: translateY(0.4rem);
}

@media (max-width:600px) {
    .container {
        margin: auto auto 1vh auto;
    }
}