/* .container {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    z-index: 10;
    position: fixed;
    inset: 0;
    margin: auto auto 4vh 14vw;
    color: var(--brown);
} */

.container {
    margin: 1vh auto auto auto;
    cursor: pointer;
    pointer-events: all !important;
}


@media (max-width:600px) {
    .container {
        margin: auto auto 1vh auto;
    }
}