.scrollButton {
    position: fixed;
    top: 37.5%;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    z-index: 10;
    color: var(--brown);
}
.scrollButton:hover {
    cursor: pointer;
    animation: blink 2s infinite;
}

.scrollButtonText {
    font-family: var(--sans-font-fam);
    font-size: clamp(0.5rem, 1.3vw, 0.7rem);
    line-height: 0.8rem;
    width: 100%;
}

.scrollContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: .2; }
    100% { opacity: 1; }
}


@media only screen and (max-width: 480px) {
    .scrollButton {
    }
}
