.main {
  position: absolute;
  width: 100%;
  /*max-width: 22rem;*/
  top: 1%;
  left: 2%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 5;
  color: var(--brown);
}

@media only screen and (max-width: 480px) {
  .main {
   max-width: 100vw;
   top: 10%;
   left: 25%;
    /*font-size: 80pt;*/
  }
  .main h2 {
    width: 50rem;
  }
  .main h6 {
    width: 50rem;
  }
}
