.tooltip {
    --factor: 0.1;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    text-align: left;
    font-size: 0.1rem;
    backdrop-filter: blur(3px);
}

.bar {
    display: flex;
    width: 100%;
    height: 0.5rem;
}

.header {
    width: max-content;
    font-size: calc(--factor*1.5rem);
    font-weight: 600;
}

.subtitle {
    font-size: 0.75rem;
    font-weight: 600;
}


.infoBox {
    padding: 0 var(--paddingFactor);
    display: flex;
    justify-content: var(--alignment);
    gap: 1rem;
}

.infoBox h4 {
    font-weight: var(--weight);
    font-size: 1rem;
}


.infoBox p {
    line-height: 1rem;
    font-size: var(--size);
    margin: 0;
}

.city {
    display: flex;
    flex-direction: column;
    font-size: 0.1rem;
    gap: 0.25rem;
}