/* tooltip */
.template {
  display: none;
}

.transectTooltip {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'Inter', sans-serif;
  width: 14rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2);
}

.transectTooltip h4 {
  margin-bottom: 0.5rem;
}

.transectTooltip p::before {
  content: '';
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  /* background: #000; */
  margin-right: 0.5rem;
}

.transectTooltip p.risk4mi::before {
  background: #5d3435;
}

.transectTooltip p.riskFood::before {
  background: #985946;
}

.transectTooltip p.riskAcled::before {
  background: #9a735a;
}

.transectTooltip p.riskSmuggler::before {
  background: #f48532;
}

.transectTooltip p.riskRemoteness::before {
  background: #624b44;
}

.transectTooltip p.riskHeat::before {
  background: #3f231b;
}

.transectTooltip p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin: 0;
}

.labelData {
  float: right;
}

.SliderContainer [data-percentage="true"] {
  background-color: red !important;
}

/* confirm weight changes button */

.confirmWeights {
  position: absolute;
  top: 1rem;
  padding: 2px 8px;
  border-radius: 5px;
  border: 1.5px solid hsl(25, 14%, 35%);
  /* border-width: 2px;
  border-color: var(--brown); */
  transition: background-color 250ms ease;

  background-color: hsl(25, 14%, 35%);
  color: rgba(255, 255, 255, 0.9);

  font-family: var(--sans-font-fam);
  font-size: 0.7rem;
  font-weight: 450;
}

.confirmWeights:hover {
  background-color: var(--brown);

  cursor: pointer;
}

@supports (-moz-appearance:none) {
  .textPercent {
    justify-content: end;
  }
}